@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700');
@import url('fontawesome/css/font-awesome.min.css');

$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

$fontSizeNormal: 18px;

$colorBackgroundApp: #fdfdfd;
$colorBackgroundBanner: #f5f5f5;
$colorBackgroundNavigator: $colorBackgroundApp;

$colorTextApp: #111;
$colorTextLink: #0079d3;

$colorBorder: #ccc;
$colorBorderBanner: #eee;

$paddingGeneric: 15px;

// Reset
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: default;
  -webkit-user-select: none;
}
ul {
  list-style: none;
}

// Typography basics
body, input, textarea {
  background: $colorBackgroundApp;
  color: $colorTextApp;
  font-size: $fontSizeNormal;
  font-weight: $fontWeightNormal;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-weight: $fontWeightLight;
}
a {
  color: $colorTextLink;
  text-decoration: underline;
}

// Helpers
.clearfix {
  height: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  clear: both;
}

// Buttons
.btn {
  $_boxShadow: inset 0 -3px 0;
  display: inline-block;
  background-color: #f3f3f4;
  color: $colorTextLink;
  font-weight: $fontWeightLight;
  box-shadow: $_boxShadow #e6e6e9;
  line-height: 1.5625rem;
  min-width: 7.5rem;
  padding: .625rem 1.125rem;
  text-decoration: none;
  transition: box-shadow .10s ease-in-out;
  text-align: center;

  &:hover {
    box-shadow: 0 -3.125rem 0 #e6e6e9 inset;
    cursor: pointer;
  }

  &.blue {
    background: #0079d3;
    color: #fff;
    box-shadow: $_boxShadow #005ca0;

    &:hover {
      box-shadow: 0 -3.125rem 0 #005ca0 inset;
    }
  }

  i.fa {
    margin-right: 5px;
    vertical-align: -3%;
  }
}

// Banner
$bannerHeight: 62px;

.banner {
  background: $colorBackgroundBanner;
  display: block;
  padding: $paddingGeneric;
  height: $bannerHeight;
  border-bottom: 2px solid $colorBorderBanner;
  border-top: 1px solid $colorBorderBanner;

  .title {
    img {
      float: left;
      vertical-align: middle;
    }
    h1 {
      float: left;
      margin-left: $paddingGeneric;
      font-size: 21px;
    }
  }
}

// Navigator
.navigator {
  position: absolute;
  width: 20%;
  top: $bannerHeight;
  left: 0;
  bottom: 0;
  background: $colorBackgroundNavigator;

  .controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    padding: $paddingGeneric;

    .btn {
      width: 90%;
    }
  }
}

// Footer
.status-bar {
  position: absolute;
  padding: $paddingGeneric;
  bottom: $paddingGeneric;
  right: $paddingGeneric;
  opacity: 0.25;
  font-size: 85%;
}